# Ignore all files in the root directory
*

# Whitelist specific files and directories
!.gitignore
!LICENSE
!README.md
!Makefile
!include/
!source/

# Source files
!source/*.cpp
!source/*.h

# Header files
!include/*.h